.announcement-view-vertical {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 10;

    border: 1px solid black;
}

.announcement-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    border-bottom: 1px solid black;
}

.announcement-view-header > * {
    padding: 1vmin;
}

.announcement-view-header-all-items-label {
    font-size: 3vmin;
}

.announcement-view-header-filters-label {
    font-size: 3vmin;
}

.announcement-view-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    width: 100%;
    height: 0;

    padding: 2vh 0;

    font-size: 2vmin;

    overflow-y: auto;
}

.announcement-view-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 1vh 1vw;

    border: 1px solid black;
}

.announcement-view-list-item-title {
    padding: 1vmin;

    font-size: 3vmin;
}

.announcement-view-list-item-description {
    padding: 1vmin;
}

.announcement-view-list-item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    border-top: 1px solid black;
}

.announcement-view-list-item-footer-item {
    padding: 0.5vmax;
}