.announcement-creation-main-vertical {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    padding: 1vmax;
    margin: 1vmax;

    height: 0;

    overflow-y: auto;

    color: black;
    font-size: 4vmin;

    border-radius: 5px;
    background: #FFFFFF;
}