.announcement-view-vertical {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 10;

    /*width: 100%;*/

    border: 1px solid black;
}

.announcement-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    border: 1px solid black;
}

.announcement-view-header > * {
    padding: 0.5vmax 3vmax;
}

.announcement-view-header-all-items-label {

}

.announcement-view-header-filters-label {

}

.announcement-view-list {
    display: flex;
    flex-direction: column;

    width: 100%;

    /*overflow: scroll;*/
}

.announcement-view-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid black;
}

.announcement-view-list-item-title {

}

.announcement-view-list-item-description {

}

.announcement-view-list-item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    border: 1px solid black;
}

.announcement-view-list-item-footer-item {
    padding: 0.5vmax;
}