body {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
}

.main-vertical {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    border: 1px solid black;

}

.main-frame-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid black;
    background: #592E83;

    padding: 1.5vmin 3vmax;
}

.main-frame-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;

    background: #331E4D;
    border: 1px solid black;
}

.main-frame-nav {
    display: flex;
    flex-direction: column;

    padding: 3vmin 1vmax;

    width: 30vw;

    border: 1px solid black;

}

.main-frame-nav-item {

}

.main-frame-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100vw;

    border: 1px solid black;
}

.main-frame-view-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bars-icon {
    align-self: center;
}

.main-frame-view-title {
    align-self: center;

    padding: 1vmin 1vmax;
}

.main-frame-footer {
    display: flex;
    flex-direction: row;

    background: #9984D4;
    border: 1px solid black;
}

.footer-copyright {

}

.footer-ads {
    align-self: flex-end;
}
