body {
    color: #FFFFFF;
}

.main-vertical {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    border: 1px solid black;

}

.main-frame-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
    background: #592E83;

    padding: 1.5vmin 3vmax;
}

.head-name {
    font-size: 2.5vmax;

    padding: 1vmax 1vmax;
}

.head-logo {
}

.main-frame-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    background: #150c1f;
    border: 1px solid black;
}

.main-frame-nav {
    display: flex;
    flex-direction: column;
    width: 100%;

    color: white;
}

.main-frame-nav-item {
    display: flex;
    flex-direction: row;

    margin: 0.5vh 0;
    padding: 1vmin 3vmin;

    vertical-align: center;
}

.main-frame-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;

    border: 1px solid black;
}

.main-frame-view-title {
    align-self: center;

    font-size: 3.5vmax;

    padding: 1vmax 1vmax;
}

.main-frame-footer {
    display: flex;
    flex-direction: column;

    background: #592E83;
    border: 1px solid black;
}

.footer-copyright {

}
