.questionnaire-rules-view {
    display: flex;
    flex-direction: column;
}

.rules-label {
    align-self: center;

    margin: 1vmax 3vmin;

    font-size: 3vmax;
}

.questionnaire-rules {
    font-size: 2vmax;
}

.rules-agree-button {
    margin: 3vh 0;
}

.questionnaire-creation-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire-add-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    align-self: center;

    padding: 0.5vmax 3vmin;
    margin: 1vmax 0;
    width: 80%;

    text-align: center;
    background: rgba(134, 134, 134, 0.63);
    border-radius: 5px;

}

.questionnaire-add-item-label {
    margin: 0 0 0 1vmin;

    font-size: 2vmax;
}

.questionnaire-creation-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
}

.questionnaire-creation-item-form > * {
    margin: 1vmax 0;
}

.questionnaire-item-name-input {
    width: 100%;
}

.questionnaire-item-list-input {
    width: 80%;
}

.questionnaire-item-list {
    display: flex;
    flex-direction: column;
}

.questionnaire-item-list-item {
    padding: 1vmax 2vmin;
    margin: 0.25vmax 0;

    width: 80%;

    background: #382357;
    border-radius: 5px;
}

.questionnaire-input-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.save-questionnaire-button {
    width: 100%;
}

.questionnaire-item {
    width: 80%;
}

.questionnaire-item-head-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.questionnaire-item-name {
    padding: 1vmax 0;

    font-size: 3vmax;
}

.questionnaire-item-type {
    padding: 0.5vmax 1.5vmin;
    width: auto;

    font-size: 1.5vmax;

    background: rgba(134, 134, 134, 0.63);
    border-radius: 5px;
}

.questionnaire-item-list-item-display {
    padding: 1vmax 2vmin;
    margin: 0.25vmax 0;


    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
}

.questionaire-skill-item {
    display: flex;
    flex-direction: column;

    width: 80%;
}

.questionaire-skill-item-horizontal {
    display: flex;
    flex-direction: row;
}

.questionnaire-skill-img {
    width: 50px;
    height: 50px;

    margin-right: 3vmin;
}

.questionnaire-skill-item-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionnaire-skill-name {
    font-size: 3vmax;
}

.questionnaire-skill-type {
    font-size: 1.8vmax;
}

.questionnaire-skill-description {
    padding: 1vmax 0;
}

.questionnaire-creation-skillpoints-distribution-horizontal {
    display: flex;
    flex-direction: row;
}

.questionnaire-creation-skillpoints-distribution-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 3vmin;
}

.questionnaire-creation-skillpoints-distribution-name {
    font-size: 2vmax;
}

.questionnaire-creation-skillpoints-distribution-value {
    width: 100%;
}